<div class="row m-4">
    <div class="col-4">
        <app-registro-sensores [selected]="criaSelected"></app-registro-sensores>
    </div>
    <div class="col-8">
        <mat-card>
            <mat-card-header>
                <mat-label>Clasificación de Crias</mat-label>
            </mat-card-header>
            <mat-card-content>
                <table mat-table [dataSource]="crias" class="w-100">
                    <ng-container matColumnDef="ID">
                        <th mat-header-cell *matHeaderCellDef> ID </th>
                        <td mat-cell *matCellDef="let cria"> {{cria.criaID}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Nombre">
                        <th mat-header-cell *matHeaderCellDef> Nombre </th>
                        <td mat-cell *matCellDef="let cria"> {{cria.nombre}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Peso">
                        <th mat-header-cell *matHeaderCellDef> Peso </th>
                        <td mat-cell *matCellDef="let cria"> {{cria.peso}} Kg</td>
                    </ng-container>

                    <ng-container matColumnDef="Musculo">
                        <th mat-header-cell *matHeaderCellDef> Musculo </th>
                        <td mat-cell *matCellDef="let cria"> Color {{cria.musculo}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Temperatura">
                        <th mat-header-cell *matHeaderCellDef> Temperatura </th>
                        <td mat-cell *matCellDef="let cria"> {{cria.temperatura || 0}}º </td>
                    </ng-container>

                    <ng-container matColumnDef="Cardiaca">
                        <th mat-header-cell *matHeaderCellDef> Cardiaca </th>
                        <td mat-cell *matCellDef="let cria"> {{cria.cardiaca || 0}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Respiratoria">
                        <th mat-header-cell *matHeaderCellDef> Respiratoria </th>
                        <td mat-cell *matCellDef="let cria"> {{cria.respiratoria || 0}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Sanguinea">
                        <th mat-header-cell *matHeaderCellDef> Sanguinea </th>
                        <td mat-cell *matCellDef="let cria"> {{cria.sanguinea || 0}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Marmoleo">
                        <th mat-header-cell *matHeaderCellDef> Marmoleo </th>
                        <td mat-cell *matCellDef="let cria"> Calidad {{cria.marmoleo}} </td>
                    </ng-container>

                    <ng-component matColumnDef="Clasificacion">
                        <th mat-header-cell *matHeaderCellDef> Clasificacion</th>
                        <td mat-cell *matCellDef="let cria"> <b>{{ cria.clasificacion }}</b> </td>
                    </ng-component>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row 
                        (click)="clickOnRow(row)"
                        *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </mat-card-content>
        </mat-card>
    </div>
</div>