<mat-card class="p-4">
    <mat-card-header>
        <mat-card-title>
            Crias en cuarentena
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <table mat-table [dataSource]="cuarentena" class="w-100">
            <ng-container [matColumnDef]="head" *ngFor="let head of heads">
                <th mat-header-cell *matHeaderCellDef> {{head}} </th>
                <td mat-cell *matCellDef="let cria"> {{cria[head]}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="heads"></tr>
            <tr mat-row (click)="sacar(row)" *matRowDef="let row; columns: heads;"></tr>
        </table>
    </mat-card-content>
</mat-card>